.title
  %h1 Playdates

.container
  .column_1 
    = link_to 'Create Playdate', new_playdate_path
    %p Open Playdates
  .column_2  
    %p More information
  .column_3
    %p Account Information 
    %p Kindergartens 
    = render "kindergartens/kindergartens_list"


