.navbar
  %p 
    = link_to 'Sign Up', new_user_registration_path 

.title
  %h1 Playdates

.container
  .column_1  
    %p Open Playdates
  .column_2  
    %p More information
  .column_3
    %p Account Information 
    %p Kindergartens 
    %table
      %tr 
        %th name
        %th kommun
        %th address
