body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: pink;
}

.navbar {

}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.title {
  text-align: center;
  font-weight: bold;
}

.column_1 {
  width: 33.3vw;
  margin: 0;
  text-align: center;
  height: 100vh;
}

.column_2 {
  width: 33.4vw;
  margin: 0;
  text-align: center;
  height: 100vh;
}

.column_3 {
  width: 33.3vw;
  margin: 0;
  text-align: center;
  height: 100vh;
}